.videos {
    display: grid;
    gap: 8px 16px;
    grid-template-columns: repeat(auto-fill, minmax(184px, 1fr));
    width: 100%;
    min-height: 85rem;
}
.no-video {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 490px;
    text-align: center;
    margin: 0 auto;
}
.user-icon {
    fill-opacity: 0.34;
}
.no-usertitle {
    margin-top: 52px;
    color: #161823;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 28px;
}
.no-user-description {
    color: rgba(22, 24, 35, 0.75);
    font-weight: 400;
    margin-top: 8px;
}
