.video-card {
    position: relative;
    &:hover {
        .play-icon,
        .pause-icon,
        .icon,
        .control-volume,
        .report {
            opacity: 1 !important;
        }
    }
}

.video-loading {
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 48%;
}

.video-ui {
    border-radius: 8px;
    position: relative;
    cursor: pointer;
}

.hidden {
    z-index: 0 !important;
}

.play-icon,
.pause-icon {
    position: absolute;
    bottom: 25px;
    margin-left: 26px;
    opacity: 0;
}

.control-play {
    position: absolute;
    z-index: 5;
}

.volume-container {
    display: flex;
    position: absolute;
    right: 5px;
    bottom: 24px;
    transform: rotate(90deg);
    transform-origin: calc(100% - 20px);
    align-items: center;
    &:hover {
        .volume-control {
            opacity: 1;
        }
    }
}

.volume-control {
    display: flex;
    position: relative;
    align-items: center;
    background-color: rgba(22, 24, 35, 0.34);
    height: 24px;
    width: 64px;
    padding: 0 8px;
    right: 20px;
    border-radius: 34px;
    transform: rotate(180deg);
    cursor: pointer;
    opacity: 0;
}

.volume-background {
    position: relative;
    background-color: hsla(0deg, 0%, 100%, 0.34);
    height: 2px;
    border-radius: 50%;
    width: 100%;
}

.volume-bar {
    background-color: #fff;
    border-radius: 50%;
    height: 100%;
    position: absolute;
}

.volume-dot {
    position: absolute;
    top: 50%;
    background-color: inherit;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    right: 0;
    transform: translate(100%, -50%);
}

.volume-range {
    position: absolute;
    right: 6px;
    height: 2px;
    left: 6px;
    opacity: 0;
}

.icon {
    position: relative;
    right: 10px;
    bottom: 0px;
    top: -1px;
    transform: rotate(-90deg);
    opacity: 00;
}

.report {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 18px;
    right: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.3s;
}

.mute {
    opacity: 1;
}

.report-title {
    margin-left: 4px;
}
