.wrapper {
    height: 400px;
}
.shortly {
    height: 345px;
}

.inner {
    position: relative;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    height: 350px;
}

.shrink {
    position: relative;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    height: 300px;
}

.video-container {
    position: absolute;
    inset: 0px;
    cursor: pointer;
}

.video-inner {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

    .image {
        object-fit: cotanin;
        display: flex;
        height: 100%;
        img {
            width: 100%;
            height: 350px;
            object-fit: cover;
        }
    }

    &:hover {
        .image {
            display: none;
        }

        .video {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.video {
    display: none;

    video {
        height: 350px;
        width: 100%;
        object-fit: cover;
    }
}

.short-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-43%, -10%);
}

.info-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.avatar-info {
    height: 48px;
    width: 48px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 6px;
}
.fullname-info {
    font-size: 1.8rem;
    line-height: 25px;
    color: var(--white);
}
.user-info {
    color: var(--white);
    margin-bottom: 6px;
    margin-top: -6px;
    padding: 3px 0px;
}

.follow-btn {
    min-width: 164px;
    min-height: 37px;
    margin-bottom: 20px;
}

.views {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 100px;
    background: linear-gradient(rgba(22, 24, 35, 0) 2.92%, rgba(22, 24, 35, 0.5) 98.99%);
    padding: 67px 13px 17px;

    svg {
        vertical-align: middle;
    }
}

.count {
    color: var(--white);
    font-weight: 600;
    vertical-align: middle;
    margin-left: 4px;
}

.tag {
    font-weight: 400;
    padding: 2px 4px 0px;
    height: 28px;
    overflow: hidden;
    box-sizing: content-box;
    margin-top: 4px;
}
